p {
    color: cornsilk;
}

.wrapper {
    position: relative;
    transform: translateY(-50%);
    top: 390px;
    margin: 0 auto;
    width: 75%;
    overflow: hidden;
}

.wrapper p {
    position: absolute;
    left: 100%;
    width: 100%;
    font-size: 2em;
    color: #ffffff;
    top: 0;
    cursor: pointer;
    opacity: 0;
    transition: left 1.4s, opacity .5s ease;
}

.wrapper p.activeText {
    position: relative;
    left: 0;
    opacity: 1;
}

.wrapper p.slideLeft {
    left: -100%;
    opacity: 0;
}

.wrapper p:before {
    content: "\201C";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
}

.wrapper p:after {
    content: "\201D";
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.1em;
    vertical-align: -0.45em;
}

@media screen and (max-width: 800px) {
    .row>.col-sm-6>.card>.card-img-top1>.card-body{
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    list-style: none;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #7f8c8d;
    display: inline-block;
    text-lign: center;
    cursor: pointer;
}

.active {
    background: #ecf0f1;
}

.jumbotron {
    background-color: #1e15225b;
    color: #eaf0ea;
}
.card-img-top1 {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    position: relative;
    
}

.card-img-top2 {
    height: 220px;
    width: 220px;
    border-radius: 70%;
    margin-left: 190px;
  
}
.card-titleHernan{
   color: cornflowerblue;
    margin-left: 35px;
}
.card-textHernan{
    text-align: justify;
    line-height: 2 ;

}
.card-titleDoris{
   color: cornflowerblue;
   margin-left: 230px;
}
.card-textDoris{
    text-align: justify;
    line-height: 2 ;
    margin-left: 190px;

}


.btn-primaryDoris{
    margin-left: 250px;
    text-size-adjust: large;
  
}
.btn-primaryHernan{
    margin-left: 100px;

  
}
.media ul{
    display:flex;

}
.media ul li {
    list-style:none;
    margin:0 15px;
}
.media ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: black;
}
.media ul li .fa:hover{
    color:#fff
}
.media ul li a{
    position:relative;
    display: list-item;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-emphasis: center;
     transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,5);
    float: left;
}

.media ul li a:hover{
    transform : translate(0, -10px);
}
.media ul li:nth-child(1) a{
    background-color: #0077B5;
}
.media ul li:nth-child(3) a{
    background-color: #55acee;;
}
.media{
    margin-left: 200px;
}

/*   same styling but for second person*/
.mediaHernan ul{
    display:flex;

}
.mediaHernan ul li {
    list-style:none;
    margin:0 15px;
}
.mediaHernan ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: black;
}
.mediaHernan ul li .fa:hover{
    color:#fff
}
.mediaHernan ul li a{
    position:relative;
    display: list-item;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-emphasis: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,5);
    float: left;
}

.mediaHernan ul li a:hover{
    transform : translate(0, -10px);
}
.mediaHernan ul li:nth-child(1) a{
    background-color: #0077B5;
}
.mediaHernan ul li:nth-child(3) a{
    background-color: #55acee;
}
.mediaHernan{
    margin-right: 50px;
}

