h1,
h2 {
    color: rgb(224, 233, 233);
}

* {
    box-sizing: border-box;
}


/* Style inputs */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(184, 159, 159);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Style the container/contact section */


/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.card-img-top1 {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.card-img-top2 {
    max-width: 40%;
    max-height: 20%;
    border-radius: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.jumbotron {
    background-color: #1e15225b;
    color: #eaf0ea;
}