.jumbotron {
    position: relative;
    background-color: #131f25;
    width: 75%;
    margin-top: 100px;
    margin: auto;
}

.form-group {
    /* padding-left: 40px;
    padding-right: 40px; */
    background-color: #131f25;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

.broder-top {
    padding-left: 40px;
}

label {
    color: #cfe8e9;
}


/* input {
    background-color: #cfe8e9;
    color: aquamarine;
} */

.textInput {
    color: rgb(36, 39, 39);
    background-color: #cfe8e9;
}

#id_email {
    color: rgb(36, 39, 39);
    background-color: #cfe8e9;
}

li,
#hint_id_password2,
#hint_id_username {
    color: #cfe8e9;
}

#signup {
    color: rgb(36, 39, 39);
    background-color: #cfe8e9;
}