 {% extends 'home.html' %} 


{% block content %}
  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/styles/about.css' %}?{% now "U" %}">


<section class="line">
<br>
<br>
<br>
<br>
</section>

<section class="container">
<br>



<div class="jumbotron">
      <h1>RULES</h1><br>
     <h3> The object of Tic Tac Toe is to get three in a row. You play on a three by three game board. The first player is known as X 
     and the second is O. Players alternate placing Xs and Os on the game board until either oppent has three in a row or all nine squares 
     are filled. X always goes first, and in the event that no one has three in a row, the stalemate is called a cat game.</h3>
    
</div>
<div class="jumbotron">
      <h1>HISTORY</h1><br>
     
     <h3> An early variation of tic-tac-toe was played in the Roman Empire, around the first century BC. ... "Tic-tac-toe" may also derive from "tick-tack", 
     the name of an old version of backgammon first described in 1558. The US renaming of "noughts and crosses" as "tic-tac-toe" occurred in the 20th century.</h3></h3>
    
</div>

<div class="jumbotron">
     <h1> please add some content here</h1>
    
</div>

</section>



{% endblock content %}
