 {% extends 'home.html' %} 


{% block content %}
  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/styles/about.css' %}?{% now "U" %}">


<section class="line">
<br>
<br>
<br>
<br>
</section>

<section class="container">
<br>

<div class="jumbotron">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <img class="card-img-top1" src= {% static "styles/cropped_4.png" %} alt="Card image cap">
          
                <div class="card-body">
                  <h4 class="card-titleHernan">HERNAN PESANTEZ</h4>
                  <p class="card-textHernan">I'm a Student at Queens College, </br> majoring in Computer Science</p>
                  <a href="#" class="btn-primaryHernan">Visit My LinkedIn</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                    <img class="card-img-top2" src= {% static "styles/20200128_075854.dorisPic.jpg" %} alt="Card image cap">
          
          
                <div class="card-body">
                  <h4 class="card-titleDoris">DORIS MORENO</h4>
                  <p class="card-textDoris">I'm a Student at Queens College,, majoring in Computer Science</p>
                  <a href="www.linkedin.com/in/doris-moreno-alvarez-25b287142" class="btn-primaryDoris">Visit My LinkedIn</a>
                </div>
              </div>
            </div>
</div>

</section>



{% endblock content %}
