 {% extends 'home.html' %} 

{% block content %}
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/styles/contact.css' %}?{% now "U" %}">



<section class="line">
<br>
<br>
<br>
<br>
</section>

<section class="container">
<br>


<div class="jumbotron">




<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top1" src= {% static "styles/cropped_4.png" %} alt="Card image cap">

      <div class="card-body">
        <h5 class="card-title">HERNAN PESANTEZ</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
          <img class="card-img-top2" src= {% static "styles/20200128_075854.dorisPic.jpg" %} alt="Card image cap">


      <div class="card-body">
        <h5 class="card-title">DORIS MORENO</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>




    
</div>







</section>





{% endblock content %}
