{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid-X</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static '/styles/main.css' %}?{% now "U" %}">


</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<header>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href={% url 'home' %}>COVID-X</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a onclick="buildBoard()">PLAY</a></li>
        <li><a href={% url 'about' %}>ABOUT</a></li>
        <li><a href={% url 'contact' %}>CONTACT</a></li>
        <li><a href="#portfolio">HISTORY</a></li>
        <li><a href="#pricing">RULES</a></li>
        <li><a href="#contact">OTHER PLACES TO PLAY</a></li>
        
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>


      </ul>
    </div>
  </div>
</nav>


</header>

    {% if messages %}
      {% for message in messages  %}
      <div class = "alert alert-{{ message.tags }}">
      {{message}}
      </div>
      {% endfor %}
    {% endif %}
    <div id="board">
    </div>


   {% block content %}
            {% endblock %}
    {% block puzzle %}

    {% endblock puzzle %}

</body>
</html>
