{% extends 'home.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/styles/index.css' %}?{% now "U" %}">


<section class="line">
  <br>
  <br>
</section>

<section class="container">
  <br>

  <div class="jumbotron">

    <div class="jumbotron text-center">
      <h1 style="color:darkkhaki">TIC-TAC-TOE</h1>
    </br>
    </br>
    </br>

      <!-- <p>THIS AMAZING WEDSITE WAS DEVELOPED BY HERNAN AND DORIS</p>  -->

      <form>

        <button type="submit" formaction={% url 'tictactoe' %}?{% now "U" %} class="play">PLAY</button>

      </form>

      <!-- <p><a href={% url 'tictactoe' %}?{% now "U" %} class="play">PLAY</a></p> -->

      </br>



      <div class="jumbotron">
        <h1 style="color:cornflowerblue">HISTORY</h1><br>

        <h3 class="double">Games played on three-in-a-row boards can be traced back to ancient Egypt,[5] where such game
          boards have been found on
          roofing tiles dating from around 1300 BCE. An early variation of tic-tac-toe was played in the Roman Empire,
          around the first
          century BC. It was called terni lapilli (three pebbles at a time) and instead of having any number of pieces,
          each player only
          had three, thus they had to move them around to empty spaces to keep playing.[7] The game's grid markings have
          been found chalked
          all over Rome. Another closely related ancient game is three men's morris which is also played on a simple
          grid and requires three
          pieces in a row to finish,[8] and Picaria, a game of the Puebloans.</h3>

      </div>
      <div class="jumbotron">
        <h1 style="color:cornflowerblue">RULES</h1><br>
        <h3 class="double">The object of Tic Tac Toe is to get three in a row. You play on a three by three game board.
          The first player is known as X
          and the second is O. Players alternate placing Xs and Os on the game board until either oppent has three in a
          row or all nine squares
          are filled. X always goes first, and in the event that no one has three in a row, the stalemate is called a
          cat game.</h3>

      </div>
    </div>

    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-4">
          <h4 id="playgoogle"><a
              href="https://www.google.com/search?q=tictactoe&oq=tictactoe&aqs=chrome.0.69i59l2j0l6.3121j1j8&client=ubuntu&sourceid=chrome&ie=UTF-8">PLAY
              AT GOOGLE</a></h4>

        </div>
        <div class="col-sm-4">
          <h4 id="playneave"><a href="https://playtictactoe.org/">PLAY AT NEAVE</a></h4>
        </div>
        <div class="col-sm-4">
          <h4 id="playGameable"><a href="https://gametable.org/games/tic-tac-toe/">PLAY AT GAMEABLE</a></h4>
        </div>
      </div>
    </div>

</section>
{% endblock content %}
