{% extends 'home.html' %} 


{% block content %}
  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/styles/about.css' %}?{% now "U" %}">


<section class="line">
<br>
<br>
<br>
<br>
</section>

<section class="container">
<br>



<div class="jumbotron">
    
<div class="jumbotron text-center">
    <h1>Welcome</h1>
    <p>THIS AMAZING WEDSITE WAS DEVELOPED BY HERNAN AND DORIS</p> 
    <h3><a href={% url 'tictactoe' %}?{% now "U" %} >PLAY TIC-TAC-TOE</a></h3>

  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5><a href="https://www.google.com/search?q=tictactoe&oq=tictactoe&aqs=chrome.0.69i59l2j0l6.3121j1j8&client=ubuntu&sourceid=chrome&ie=UTF-8" >PLAY AT GOOGLE</a></h5>

      </div>
      <div class="col-sm-4">
        <h5><a href="https://playtictactoe.org/">PLAY AT NEAVE</a></h5>

    
      </div>
      <div class="col-sm-4">
        <h5><a href="https://gametable.org/games/tic-tac-toe/">PLAY AT GAMEABLE</a></h5>
      </div>
    </div>
  </div>
  
</div>
<div class="jumbotron">
      <h1>HISTORY</h1><br>
     
     <h3> An early variation of tic-tac-toe was played in the Roman Empire, around the first century BC. ... "Tic-tac-toe" may also derive from "tick-tack", 
     the name of an old version of backgammon first described in 1558. The US renaming of "noughts and crosses" as "tic-tac-toe" occurred in the 20th century.</h3></h3>
    
</div>



</section>
{% endblock content %}