{% extends 'home.html' %} 


{% block content %}
  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static '/styles/about.css' %}?{% now "U" %}">


<section class="line">
<br>
<br>
<br>
<br>
</section>

<section class="container">
<br>



<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
      
            <div class="card-body">
              <h5 class="card-title">HERNAN PESANTEZ</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
            <div class="card">
        
              <div class="card-body">
                <h5 class="card-title">HERNAN PESANTEZ</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

        <div class="col-sm-6">
            <div class="card">
        
              <div class="card-body">
                <h5 class="card-title">HERNAN PESANTEZ</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>

        <div class="col-sm-6">
          <div class="card">
      
      
            <div class="card-body">
              <h5 class="card-title">DORIS MORENO</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      
    
</div>
<div class="jumbotron">
      <h1>HISTORY</h1><br>
     
     <h3> An early variation of tic-tac-toe was played in the Roman Empire, around the first century BC. ... "Tic-tac-toe" may also derive from "tick-tack", 
     the name of an old version of backgammon first described in 1558. The US renaming of "noughts and crosses" as "tic-tac-toe" occurred in the 20th century.</h3></h3>
    
</div>



</section>
{% endblock content %}