body {
    background-image: linear-gradient( rgba(24, 22, 22, 0.794), rgba(14, 13, 13, 0.801)), url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #1a1a1a;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    /* margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px; */
    /* filter: blur(8px); */
    filter: alpha(opacity=20);
}

section.home {
    background-image: linear-gradient( rgba(24, 22, 22, 0.794), rgba(14, 13, 13, 0.801)), url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    margin-top: 80px;
    font-family: Montserrat, sans-serif;
    /*opacity: 0.8;*/
    /* filter: alpha(opacity=50); */
    /* filter: blur(8px); */
    /* For IE8 and earlier */
}

.navbar {
    margin-bottom: 0;
    background-color: #1a110e;
    z-index: 999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
    color: #f5440e !important;
    background-color: #cfe8e9 !important;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}

.navbar li a,
.navbar .navbar-brand {
    color: white!important;
    font-size: medium;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    text-decoration: none;
    color: #f5440e !important;
    background-color: #cfe8e9 !important;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}

.dropdown-menu {
    background-color: #1a110e;
}

.navbar-default .navbar-toggle,
.dropdown-menu {
    border-color: transparent;
    color: #1a1514ea !important;
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}

.circle-red62 {
    background-color: #2fac09;
    heighT: 100px;
    width: 100px;
    border-radius: 50%;
}

.innerCircle-red3 {
    position: relative;
    /* has to be position relative for left to work, or you could just do margin-left: -50px; too */
    left: 50px;
    bottom: 0px;
    background-color: rgba(153, 59, 15, 0.5);
    heighT: 90px;
    width: 90px;
    border-style: dashed;
    border-radius: 50%;
}

.innerCircle-red3:hover {
    background-color: rgba(240, 234, 231, 0.5);
}

.innerCircle-red9 {
    position: relative;
    /* has to be position relative for left to work, or you could just do margin-left: -50px; too */
    left: 50px;
    bottom: 0px;
    background-color: rgba(13, 178, 228, 0.5);
    heighT: 90px;
    width: 90px;
    border-style: dashed;
    border-radius: 50%;
}

.innerCircle-red9:hover {
    background-color: rgba(240, 234, 231, 0.5);
}

#board {
    margin-top: auto;
    position: relative;
    left: 600px;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
}


/* .box-red:hover {
    background-color: rgba(211, 240, 241, 0.829);
    color: aqua;
} */


/* .box-black:hover {
    background-color: rgba(191, 214, 191, 0.014);
} */

.box-red {
    background-color: rgba(41, 35, 35, 0.767);
    border-style: solid;
    border-color: rgb(128, 115, 3);
}

.box-black {
    background-color: #0c708171;
    border-style: solid;
    border-color: rgb(128, 115, 3);
}

.jumbotron {
    padding: 20px;
    background-color: black;
    width: auto;
    position: relative;
    margin: auto;
    font-family: Montserrat, sans-serif;
    font-size: medium;
}